<div class="row">
	<div class="col-sm-6"><p>Numerology is any belief in the divine or mystical relationship between a number and one or more coinciding events. It is also the study of the numerical value of the letters in words, names and ideas. It is often associated with the paranormal, alongside astrology and similar divinatory arts. *Copied from wikipedia. Find out more <a href="https://en.wikipedia.org/wiki/Numerology">here.</a></p></div>
	<form class="col-sm-6" action="/" method="post">
		<div class="form-group">
			<p><%= @error %></p>
			<label for="birthdate">Enter you birthdate (mmddyyyy)</label>
			<input class="form-control" type="text" name="birthdate">
			<label for="first_name">Enter you first name</label>
			<input type="text" name="first_name">
			<label for="last_name">Enter you last name</label>
			<input type="text" name="last_name">
		</div>
		<input class="btn btn-default" type="submit">
	</form>
</div>	