<div class="row">
	<div class="col-sm-4"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
	<form class="col-sm-8" action="/" method="post">
		<div class="form-group">
			<p><%= @error %></p>
			<label for="birthdate">Enter you birthdate</label>
			<input class="form-control" type="text" name="birthdate">
			<label for="first_name">Enter you first name</label>
			<input type="text" name="first_name">
			<label for="last_name">Enter you last name</label>
			<input type="text" name="last_name">
		</div>
		<input class="btn btn-default" type="submit">
	</form>
</div>	